In [ ]:
#Write a Python program to print "Hello, World!
print("Hello, World!")

Hello, World!

In [ ]:
#Write a Python program that displays your name and age.
name = "Rishi"
age = 25
print("Name:",name)
print("Age:", age)

Name: Rishi
Age: 25

In [ ]:
#Write code to print all the pre-defined keywords in Python using the keyword library?
import keyword

# Print all predefined keywords in Python
print("List of Python keywords:")
for kw in keyword.kwlist:
    print(kw)

List of Python keywords:
False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

In [ ]:
#Write a program that checks if a given word is a Python keyword?
import keyword

word = input("Enter a word: ")
if keyword.iskeyword(word):
    print(f"'{word}' is a Python keyword.")
else:
    print(f"'{word}' is NOT a Python keyword.")

In [ ]:
#Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for each?

In [ ]:
#Write a function to demonstrate the behavior of mutable and immutable arguments?

In [ ]:
#Write a program to demonstrate the use of logical operators?

# Input values
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

# Logical AND
if num1 > 0 and num2 > 0:
    print("Both numbers are positive.")

# Logical OR
if num1 > 0 or num2 > 0:
    print("At least one number is positive.")

# Logical NOT
if not (num1 > 0 and num2 > 0):
    print("Both numbers are not positive.")

Enter the first number: 5
Enter the second number: 8
Both numbers are positive.
At least one number is positive.

In [ ]:
#Write a Python program to convert user input from string to integer, float, and boolean types?
s = "42"
num = int(s)
print(num)

s = "3.14"
num = float(s)
print(num)

s = "True"
bool_value = bool(s)
print(bool_value)

42
3.14
True

In [ ]:
#Write code to demonstrate type casting with list elements?
#Converting a string to a list.
my_string = "Hello"
my_list = list(my_string)
print(my_list)

#Converting a tuple to a list.
my_tuple = (1, 2, 3)
my_list = list(my_tuple)
print(my_list)

#Converting a set to a list.
my_set = {1, 2, 3}
my_list = list(my_set)
print(my_list)

#Converting a range to a list.
my_range = range(1, 5)
my_list = list(my_range)
print(my_list)

['H', 'e', 'l', 'l', 'o']
[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]

In [ ]:
#Write a program that checks if a number is positive, negative, or zero?
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 4
Positive number

In [ ]:
#Write a for loop to print numbers from 1 to 100?
for i in range(1 , 101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
#Write a Python program to find the sum of all even numbers between 1 and 500?
list(range(0, 500 , 2 ))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498]

In [1]:
#Write a program to reverse a string using a while loop?
original_string = "Hello, World!"
reversed_string = ''

for i in range(len(original_string) - 1, -1, -1):
  reversed_string += original_string[i]

print("Original String:", original_string)
print("Reversed String:", reversed_string)

Original String: Hello, World!
Reversed String: !dlroW ,olleH

In [2]:
#Write a Python program to calculate the factorial of a number provided by the user using a while loop?
# accept input number from user
n = int(input("Enter any number: "))

# logic to calculate the factorial of a number
f = 1
while n >= 1:
    f *= n
    n -= 1

# print output
print("Factorial is", f)

Enter any number: 5
Factorial is 120